.ant-menu-submenu-inline{
  font-family:"Poppins", sans-serif;
  font-weight: 600;
}

.public-DraftStyleDefault-block {
  border: 1px solid red;
  padding: 5px 10px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.alldiv{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.input{
  border: 2px solid;
  outline: none;
  width: 300px;
  padding: 5px 10px  10px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}